$primary: #130129;
$secondary: #FFF;
$dark: #242a35;

* {
  font-family: monospace;
  color: $secondary;
}

html {
  background-color: $dark;
  display: flex;
  justify-content: center;
  height: 100%;
}

h1 {
  font-weight: bolder;
  color: $dark;
}

body {
  width: 390px;
  height: 844px;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 100%;
  margin: 0px;
  padding: 16px;
  background-color: $primary;
  border-radius: 24px;
}

button {
  border-radius: 68px;
  border: 2px solid var(--CTA-line, #9662F2);
  background: #711EFC;

  /* CTA-shadow */
  box-shadow: 0px 0px 0px 3px #8953EA, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 10px;
}

#connect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 24px 24px 0px 0px;
  background: #FFF;
  height: 522px;
}

#connect #currentevent {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 247px;
  height: 63px;
}

#connect #connectto {
  color: #130129;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: -0.72px;
  text-align: center;
}

#connect #id {
  color: #8B8296;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.42px;
}

#connect #azeroid {
  color: #130129;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.66px;
}